/* Reset some default margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
/* Set fluid layout base */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Example breakpoint for tablets */
@media (min-width: 768px) {
    /* Styles for medium devices */
  }
  
  /* Example breakpoint for desktops */
  @media (min-width: 1024px) {
    /* Styles for larger screens */
  }

body {
  background-image: url("Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}


.landing-container {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 300px;
    
}

.landing-container p {
    font-size: 30px;
    text-align: start;
    align-self: flex-start;
}

.landing-container h1 {
    font-size: 10vw;
    color: whitesmoke;
    font-weight: 700;
    align-self: flex-start;
    
}

.about-text {
  color: #d19b4e;
}


.landing-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    align-self: flex-start;
}

.landing-btn {
    color: whitesmoke;
    background: #d19b4e;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.55s ease;
    text-decoration: none;
    text-align: center;
}

.landing-btn:hover {
    background: limegreen;
    color: #292929;
    transform: translateX(4px);
}

.login-btn {
    background: transparent;
    border: 2px solid #d19b4e;
}

.login-btn:hover {
    background: rgba(209, 155, 78, 0.25);
    color: whitesmoke;
}